ENV=
PORT=
APP_NAME=
APP_URL=
GLOBAL_PREFIX=

DATABASE_URL="postgresql://postgres:asdqwe123@localhost:5432/${APP_NAME}?schema=public"

# JWT_ALGORITHM=
# JWT_KEY_FOLDER=
# JWT_DEFAULT_EXPIRE_TIME=
# JWT_SECRET_KEY=
# JWT_PUBLIC_KEY=
# JWT_RESET_PASSWORD_EXPIRE_TIME=
JWT_VERIFICATION_EXPIRE_TIME=

GT_SECRET=
VT_SECRET=

ENC_KEY=
ENC_IV=
ENC_SALT=

MAILER_HOST=smtp.gmail.com
MAILER_PORT=465
MAILER_USER=devadmin@nusameta.io
MAILER_PASSWORD=nenwglwpeqrxutdb
MAILER_DEFAULT_SENDER=noreply@nusameta.id 


PINATA_BASE_URL=https://api.pinata.cloud/
PINATA_JWT=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VySW5mb3JtYXRpb24iOnsiaWQiOiJiZWQ3NDU2ZC0yNzhmLTQ4OTYtYTYwZS03YzJkMGU2YjRhMmUiLCJlbWFpbCI6ImF6bXkuYW5zb3JpQG51c2FtZXRhLmlvIiwiZW1haWxfdmVyaWZpZWQiOnRydWUsInBpbl9wb2xpY3kiOnsicmVnaW9ucyI6W3siaWQiOiJGUkExIiwiZGVzaXJlZFJlcGxpY2F0aW9uQ291bnQiOjF9LHsiaWQiOiJOWUMxIiwiZGVzaXJlZFJlcGxpY2F0aW9uQ291bnQiOjF9XSwidmVyc2lvbiI6MX0sIm1mYV9lbmFibGVkIjpmYWxzZSwic3RhdHVzIjoiQUNUSVZFIn0sImF1dGhlbnRpY2F0aW9uVHlwZSI6InNjb3BlZEtleSIsInNjb3BlZEtleUtleSI6IjJkYjFiYTQwNThmMWVhZThjZjNiIiwic2NvcGVkS2V5U2VjcmV0IjoiM2Q4ZWY0NDU3YTA5NGRhYjIyZDZlZmNjZGNjZjNmNmRlMDllMzYyYzcwNjU1NDBjZjI0NDk4ZjdlZDc2NmZmNyIsImlhdCI6MTcwMTAxMjQ0OH0.Qxnut-er5u2BoA7fjjQ_McjfzuxBapWQHvfOMHTYAjE
PINATA_UPLOAD_PATH=pinning/pinFileToIPFS
PINATA_METADATA_PATH=pinning/pinJSONToIPFS
PINATA_GATEWAY_URL=https://beige-lazy-flyingfish-744.mypinata.cloud/ipfs/

NAGARA_NETWORK=wss://boot.nagara.network

GRPC_ENTRY_PASS_USER_URL=
GRPC_ENTRY_PASS_USER_APIKEY=

TICKET_QR_EXPIRE_SECONDS=60

REDIS_HOST=
REDIS_PORT=


